@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 700px;
  margin: auto;
  border: 1px solid #000;
  overflow: hidden;

}

.search-engine {
  position: absolute;
  width: 80%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px #bbb;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  
}

.search input {
  width: 80%;
  padding: 10px 14px;
  outline: 0;
  border: 1px solid #bbb;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search input::placeholder {
  color: #bbb;
}

.search button {
  width: 20%;
  outline: 0;
  background: #fff;
  border: 1px solid #bbb;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.search button::before {
  width: 1px;
  height: 60%;
  background: #bbb;
  position: absolute;
  content: '';
  left:0;
  top: 50%;
  transform: translateY(-50%);
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map img {
  width: 100%;
}

.detail-box {
  position: absolute;
  width: 100%;
  height: 400px;
  background: #fff;
  z-index: 999;
  bottom: 0;
  box-shadow: 0 0 10px #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.4s cubic-bezier(.07,1.03,.84,.25);

}

.guide {
  position: absolute;
  width: 50%;
  height: 30px;
  background: #fff;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -4px 10px #ccc;
  display: flex;
  justify-content: center;
}

.guide i {
  font-size: 25px;
}

.detail-wrapper {
  padding: 10px 15px;
}

.detail-title{
  border-bottom: 1px solid #bbb;
  margin-bottom: 12px;
}

.detail-title h2{
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.detail-info {
  display: flex;
  gap: 4px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.detail-info > div {
  padding: 8px 15px;
  border: 1px solid #ccc;
  width: 25%;
  border-radius: 8px;
  text-align: center;
}

.detail-info > div > h3 {
  font-size: 11px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.detail-info > div > h3:last-child {
  border-bottom: 0;
}

.detail-text {
  width: 100%;
  margin-top: 12px;
}

.detail-text > div {
  display: flex;
  margin-bottom: 12px;
}

.detail-text > div.tell {
  _margin: 12px 0;
}

.detail-text > div > div > p {
  padding-left: 20px;
}

.detail-text > div > div > p:first-child {
  position: relative;
}

.detail-text > div > div > p:first-child::before {
  content: '';
  width: 1px;
  height: 50%;
  background: #bbb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.detail-text > div > div:nth-child(1){
  width: 20%;
  text-align: right;
}

.detail-text > div > div:nth-child(2){
  width: 80%;
  padding-left: 20px;
}